.traffic-light-indicator {
  text-transform: uppercase;
  border-radius: var(--margin-01);
  text-decoration: none;
  background: var(--bg-alt);
  line-height: 1em;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  gap: var(--margin-01);
  padding: var(--margin-h) var(--margin-02);
  align-items: center;
  justify-content: center;
}

.indicator-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--margin-h);
  align-items: center;
  justify-content: center;
  cursor: help;
}

.indicator {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}

.indicator[data-state='info'] {
  background: var(--fg);
}

.indicator[data-state='success'] {
  background: var(--success);
}

.indicator[data-state='warning'] {
  background: var(--warning);
}

.indicator[data-state='danger'] {
  background: var(--danger);
}
