{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "no-empty-source": null,
    "color-hex-length": null,
    "custom-property-empty-line-before": null,
    "color-function-notation": null,
    "declaration-empty-line-before": null
  }
}
