@keyframes shine {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeleton {
  background-color: var(--bg-alt);
  background-image: linear-gradient(90deg, var(--bg), var(--bg-alt), var(--bg));
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: shine 1.2s ease-in-out infinite;
}
