.table-header {
  --border-color: var(--fg);
}

.table-header:hover {
  --border-color: var(--hl-01);
}

.table-header th {
  border-bottom: 2px solid var(--border-color);
  border-top: 2px solid var(--border-color);
  margin-bottom: var(--margin-01);
  transition: border-color 0.2s ease;
}

.table-header th:first-child {
  border-left: 2px solid var(--border-color);
  border-radius: var(--margin-01) 0 0 var(--margin-01);
}

.table-header th:last-child {
  border-radius: 0 var(--margin-01) var(--margin-01) 0;
  border-right: 2px solid var(--border-color);
}

.table-header-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: none;
  padding: 0;
  background: transparent;
  color: var(--fg);
  margin: 0;
}
.table-header-wrapper[data-can-sort='true'] {
  cursor: pointer;
}

.table-header-wrapper svg {
  margin-left: var(--margin-01);
}
