.table-header th {
  border-bottom: 2px solid var(--hl-01);
  border-top: 2px solid var(--hl-01);
  margin-bottom: var(--margin-01);
}

.table-header th:first-child {
  border-left: 2px solid var(--hl-01);
  border-radius: var(--margin-01) 0 0 var(--margin-01);
}

.table-header th:last-child {
  border-radius: 0 var(--margin-01) var(--margin-01) 0;
  border-right: 2px solid var(--hl-01);
}

.table-header-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.table-header-wrapper svg {
  margin-left: var(--margin-01);
}
