.page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.page main {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.page main::before {
  content: ' ';
  display: block;
  position: fixed;
  inset: 0;
  opacity: 0.2;
  z-index: 0;
  background-image: url('/img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.discord-wrapper {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.iframe-container {
  flex: 1 0 auto;
  padding: var(--margin-04);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
