.games-stats {
  display: flex;
  flex-flow: column;
  gap: var(--margin-06);
}

.cluster {
  display: flex;
  flex-flow: row;
  gap: var(--margin-02);
}

.bar-wrapper {
  height: 50vh;
}

.pie-wrapper {
  margin: auto;
  max-width: 800px;
  height: 50vh;
  width: 100%;
  flex: 1 1 auto;
}

.full-height .pie-wrapper {
  height: 100vh;
  max-width: none;
}

.small {
  flex-flow: column;
  height: 40vh;
}

@media screen and (max-width: 900px) {
  section.cluster {
    flex-flow: column;
    height: 100vh;
  }

  .pie-wrapper {
    height: 50%;
    flex: 1 1 auto;
  }

  .small .pie-wrapper {
    flex-flow: column;
    height: 100%;
  }
}
