.games-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 60vh;
  gap: var(--margin-06);
}

.games-stats article {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-01);
  height: 100%;
}

.article-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

.games-stats [data-columns='full-width'] {
  grid-column: 1/-1;
}

.games-stats [data-rows='2'] {
  grid-row: span 2;
}

.chart-wrapper {
  height: calc(100% - var(--margin-04));
}

@media screen and (max-width: 900px) {
  section.cluster {
    flex-flow: column;
    height: 100vh;
  }

  .pie-wrapper {
    height: 50%;
    flex: 1 1 auto;
  }

  .small .pie-wrapper {
    flex-flow: column;
    height: 100%;
  }
}
