.content {
  margin-bottom: var(--margin-04);
}

.table {
  margin: auto;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--margin-02);
}

.content {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.info {
  text-transform: uppercase;
  border-radius: var(--margin-01) var(--margin-01) 0 0;
  text-decoration: none;
  background: var(--bg-alt);
  line-height: 1em;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  gap: var(--margin-01);
  padding: var(--margin-h) var(--margin-02);
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-left: auto;
  margin-right: var(--margin-01);
}

@media screen and (max-width: 900px) {
  .content {
    margin-bottom: var(--margin-02);
  }
}
