.table {
  margin: auto;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--margin-02);
}

.content {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: auto hidden;
  margin-bottom: var(--margin-04);
}

@media screen and (width <= 900px) {
  .content {
    margin-bottom: var(--margin-02);
  }
}
