.newsletter-wrapper {
  font-variant-numeric: tabular-nums;
  display: flex;
  flex-flow: column;
  gap: var(--margin-04);
}

.newsletter-list {
  display: flex;
  flex-flow: column;
  gap: var(--margin-06);
}

.newsletter-section {
  display: flex;
  flex-flow: column;
  gap: var(--margin-02);
}

.newsletter-list-entries {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: var(--margin-02);
}

.newsletter-section-title {
  font-family: var(--font-sans);
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .newsletter-list-entries {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: var(--margin-06);
  }
}
