.wrapper {
  max-width: var(--max-width-wraper);
  margin: auto;
  padding: 0 var(--margin-02);
  padding-bottom: var(--margin-04);
}

.wrapper > *:not(:last-child) {
  margin-bottom: var(--margin-04);
}

.table {
  margin: auto;
}
