.wrapper {
  max-width: var(--max-width-wraper);
  margin: auto;
  padding: 0 var(--margin-02);
  padding-bottom: var(--margin-04);
}

.content {
  margin-bottom: var(--margin-04);
}

.table {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .content {
    margin-bottom: var(--margin-02);
  }
}
