.page {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

.page main {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--margin-02);
}

.qr-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--margin-02);
}

.qr-wrapper figure {
  --border-color: var(--color-gray-dark);

  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
}

.qr-image-wrapper {
  padding: var(--margin-02);
  background: var(--fg);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.qr-image-wrapper svg {
  margin: 0 auto;
}

.qr-wrapper figcaption {
  width: 100%;
  border-top: 2px solid var(--border-color);
  padding: var(--margin-01);
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
