html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg);
}

h1 {
  width: 100%;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

a,
.leaflet-container a {
  color: var(--fg);
  transition: 0.2s ease all;
}

a:hover,
a.-active {
  color: var(--hl-01);
}

.leaflet-bar a {
  background-color: var(--bg-alt);
}

.leaflet-popup-content {
  /* padding: var(--margin-01); */
  padding: 0 var(--margin-01);
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup,
.leaflet-popup-content-wrapper {
  border-radius: var(--margin-01);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: var(--bg-alt);
}
