html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg-02);
}

h1 {
  width: 100%;
}

.wrapper {
  width: 90vw;
  width: clamp(16rem, 90vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
}

a {
  color: var(--fg-02);
  transition: 0.2s ease all;
}

a:hover {
  color: var(--hl-01);
}
