.page main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  max-width: 200px;
  margin-bottom: var(--margin-02);
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.nav li:not(:last-child) {
  margin-right: var(--margin-02);
}

.nav-routes {
}
